################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Presentation/bin/Debug/netcoreapp2.0/Presentation.dll
